@page "{id_contato:int}"
@model POS_TECH_FASE_UM.Pages.Contatos.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Contato";
}

<h1>Detalhes do Contato</h1>

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Contato.nome_contato
        </dd>
        <dt class="col-sm-2">
            Telefone
        </dt>
        <dd class="col-sm-10">
            @Model.Contato.telefone_contato
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Contato.email_contato
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Voltar</a>
</div>
